.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  background: #0000ff;
  color: #fff;

  ul {
    display: flex;

    li.active a {
      font-weight: bold;
      color: #dc3545;
      cursor: default;
    }
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
  }
}
